* {
    scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #000;
  background: linear-gradient(135deg, #000000, #1a0033, #3d0066);
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

#preloader {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    z-index: 9999;
    animation: fadeOut 1s ease forwards;
    animation-delay: 3s;
}
#preloader span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.6s ease forwards;
}

#preloader span:nth-child(1) { animation-delay: 0.2s; }
#preloader span:nth-child(2) { animation-delay: 0.4s; }
#preloader span:nth-child(3) { animation-delay: 0.6s; }
#preloader span:nth-child(4) { animation-delay: 0.8s; }
#preloader span:nth-child(5) { animation-delay: 1s; }
#preloader span:nth-child(6) { animation-delay: 1.2s; }
#preloader span:nth-child(7) { animation-delay: 1.4s; }

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}   

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#halaman-utama{
    display: none;
}


.nav {
    background: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(10px);      
    -webkit-backdrop-filter: blur(10px);
    padding: 30px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav h1 {
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    padding-left: 10%;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
    margin-left: auto;
    padding-right: 10%;
}

.nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav ul li a:hover {
  color: antiquewhite;
}

.nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

.menu-toggle {
    display: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-left: auto;
}


.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
    margin-top: -80px;
    gap: 40px;
}

.foto-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.home img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 200px;
}


#namaku {
  font-size: 2.5rem;
  text-align: center;
}

#namaku-hi,
#namaku-mobile {
  display: none;
}


.sosmed {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.sosmed a {
    font-size: 20px;
    color: white;
    transition: 0.3s;
}

.sosmed a:hover {
    color: #0077ff;
    transform: scale(1.2);
}


.sosmed img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s;
}

.sosmed img:hover {
    transform: scale(1.2);
}

.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.about-card {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(20px);      
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 50px 70px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    color: white;
    max-width: 800px;
    gap: 30px;
}

.about-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  border: 3px solid rgba(255,255,255,0.6);
}

.about-text h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 500px;
}

.fade-up {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1.5s ease-out, transform 0.8s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

.skill {
    max-width: 1100px;
    margin: auto;
    padding: 60px 20px;
}

.skill h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    grid-auto-flow: dense;
}

.card {
    background: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(20px);      
    -webkit-backdrop-filter: blur(20px);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.95rem;
    line-height: 1.4;
    color: #ddd;
}
.card a {
    text-decoration: none;
    font-weight: 500;
    color: white;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}
.card a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}
.card a:hover {
    color: antiquewhite;
}

.wide {
    grid-column: span 2;
}
.tall {
    grid-row: span 2;
}
.sertifikat {
  text-align: center;
  padding: 50px 20px;
  margin-top: -150px;
}

.sertifikat h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: white;
}

.sertifikat-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.sertifikat-grid img {
  width: 250%;
  max-width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sertifikat-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0,0,0,0.3);
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
}

.popup img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
}

.close {
    position: absolute;
    top: 70px;
    right: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

}

.close:hover {
    color: red;
}

.container {
    text-align: center;
    font-size: 20px;
    padding: 30px;
}

.organisasi {
    text-align: center;
    padding: 50px 20px;
}

.organisasi h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: white;
}

.organisasi-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 200px;
  flex-wrap: wrap;
}

.organisasi-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  transition: transform 0.3s ease;
}

.organisasi-container div:hover {
  transform: translateY(-5px);
}

.organisasi-container img {
  width: 250%;
  max-width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.organisasi-container p {
  font-size: 16px;
  font-weight: 500;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* efek blur */
  background: rgba(0,0,0,0.2); /* transparansi gelap */
  opacity: 0;
  pointer-events: none; /* biar tidak menghalangi klik */
  transition: opacity 0.3s ease;
  z-index: 900; /* di bawah menu */
}

#overlay.active {
  opacity: 1;
  pointer-events: auto; /* aktif ketika menu terbuka */
}
/* 
#skills { 
    padding: 50px; 
    text-align: center; 
}

.skill-slider-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.skill-slider {
  display: flex;
  gap: 30px;
  transition: transform 0.5s ease;
  padding: 0; /* padding kiri-kanan besar agar block pertama bisa di center 
  box-sizing: content-box;
}

.skill-block {
  flex: 0 0 300px;  /* lebar tetap tiap block 
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Highlight block yang di tengah 
.skill-block.active {
  transform: scale(1.1);
  opacity: 1;
}
.skill-block:not(.active) {
  opacity: 0.6;
}

/* Tombol navigasi 
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #000;
  color: #fff;
  border: none;
  font-size: 28px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.7;
  z-index: 10;
}
.prev:hover, .next:hover { opacity: 1; }
.prev { left: 5px; }
.next { right: 5px; }

/* Responsive 
@media (max-width: 768px) {
  .skill-slider {
    padding: 0 20%; /* lebih kecil di mobile 
  }
  .skill-block {
    flex: 0 0 80%;
  }
}
 */


@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .nav h1 {
        font-size: 13px;
        padding-left: 0%;
    }
    .nav ul {
        flex-direction: column;
        background: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 93px;
        width: 200px;
        right: 0;
        height: 100vh;
        max-height: 90vh;
        padding: 40px 0;
        text-align: center;
        display: none;
        /* opacity: 0;
        /* transform: translateX(30px); */
   }

    .nav ul.show {
        display: flex;
    }

    /* @keyframes slideItem {
        0% {
            opacity: 0;
            transform: translateX(30px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
     */
    .home {
        flex-direction: column;
        text-align: center;
    }

    .home img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 0;
        margin-top: 230px;
        margin-bottom: -40px;
    }

    #namaku {
        display: none;
    }
    #namaku-hi,
    #namaku-mobile {
        display: block;
        text-align: center;
    }

    #namaku-hi {
        font-size: 1.5rem;
    }

    #namaku-mobile {
        font-size: 1.5rem;
        margin-top: 5px;
    }

    .sosmed {
        justify-content: center;
    }
    .sosmed img {
        width: 25px;
    }
    .about-card {
        flex-direction: column;
        text-align: center;
        padding: 30px;
        gap: 2px;
     }

    .about-img img {
        width: 130px;
        height: 130px;
    }

    .about-text h2 {
        font-size: 1.4rem;
    }

    .about-text p {
        font-size: 0.9rem;
    }
    .sertifikat-grid {
        grid-template-columns: 1fr;
    }

    .sertifikat-grid img {
        max-width: 90%;
    }
    .container {
        font-size: 10px;
        padding: 20px;
    }
    .organisasi-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .organisasi-container img {
        max-width: 100%;
    }

    .organisasi-container div {
        width: 80%;
     }
} 